<h1>About Me</h1>

<p>I'm a Full Stack Web Developer with Digital Marketing and Advertising background and Project
Management experience.<p/>

<p>I'm experienced with Ruby on Rails, Node, React, Ruby and Javascript.</p> 

<p>I also have deep knowledge of tools for measuring and improving web performance, such as 
Google Analytics and SEO strategy.</p>

<p>I'm detail oriented, with strong planning and organizational skills, and a multitasker.</p>

<h4>See some of my code source at:</h4>
<p><a href="https://github.com/HerciliaDiniz">GitHub</a></p>

<h4>Check me on:</h4>
<p><a href="https://www.linkedin.com/in/herciliadiniz/">Linkedin</a></p>
