<hr>

<h1>Do you want to work with me?</h1>

<hr>

<div class="row mb-2">
  <div class="col-md-3">
    <h3>Email</h3>
    <p><a href="mailto:lynxdigitalmkt@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>

    <h3>Phone Number</h3>
    <p><%= number_to_phone "604-505-8559" %></p>

    <h3>Address</h3>
    <p>North Burnaby, British Columbia - Canada</p>
  </div>

  <div class="col-md-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83357.50947603995!2d-123.02820932507854!3d49.23996477935195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548677a8219c8373%3A0xdd0a72738752b169!2sBurnaby%2C+BC!5e0!3m2!1sen!2sca!4v1531169550945" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
